* {
  list-style: none;
}

.car-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.list-wrapper {
  height: 395px;
  overflow-y: scroll;
}

.car-tabel {
  width: 600px;
  /* height: 450px; */
}

.car-item-header,
.car-item {
  width: 150px;
  padding: 1rem;
}
.car-list-header {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--greyColor);
}
.car-item-icon {
  display: flex;
  margin-left: 1rem;
  width: 30px;
}

.car-image {
  width: 30px;
  height: 30px;
  object-fit: fill;
  border-radius: 50%;
  margin-left: 1rem;
}

.car-list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(204, 240, 240);
  border-bottom: 1px solid var(--greyColor);
}

/* .cars-owned {
  display: flex;
  gap: 5px;
} */
