.wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 7.5rem repeat(2, 1fr) 7.5rem;
  grid-template-rows: 20% 100%;
  grid-template-areas:
    "sidebar bigButtonsBox  bigButtonsBox ."
    "sidebar addpersonform   personlist .";
}

.bigButtonsBox {
  grid-area: bigButtonsBox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar {
  grid-area: sidebar;
}

.addPersonForm {
  grid-area: addpersonform;
  display: flex;
  justify-content: center;
}

.personsList {
  grid-area: personlist;
  display: flex;
  justify-content: center;
}
