@import "../varibles/variables.module.css";

.main-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.cars-container, .persons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.cars-list-container,
.persons-list-container {
  overflow-y: scroll;
  height: 70vh;
}

.header-container {
  text-align: center;
}

.header-container h3 {
  font-size: 25px;
  text-transform: uppercase;
}
