/* Endret til 90 her fra 100, siden nav er satt til 10vh */
.sidebar-wrapper {
  height: 90vh;
}

.sidebar-list {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
}

/* Endret height på denne fra 100px til 113, da forsvant scrollen */
.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--lightGreyColor);
  height: 15vh;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  color: var(--lightGreyColor);
}

.sidebar-text:hover {
  color: var(--secondaryColor);
}
